  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width:100vw;
}

.logo{
    
    text-align: center;
}
.colorback{
    background-color: #fefbf1 ;
    color:#004d4d;
}
.areanav{
    margin-top:2em;
    height: 4em;
    border-top:2px solid  #ffd977;
    text-align: center;
}
.misure{
    margin:0 auto;
    width: 50%;
    height: 100%;
}
h1{
    text-align: center;
    font-family: 'Roboto, sans-serif';
}
.videosection{
    height: 315;
    width: 560;
    text-align: center;
    color:rgb(167, 168, 168);
}
aside{
    height: 5%;
    border-left:2px solid  #ffd977;;
    margin:2em 2em;
}
.testo{
    color:#bb7f0f
}  
a, a:link, a:visited{
    color:#004d4d;
    text-decoration: none;
}
h4{
    padding-bottom:2em;
    border-bottom:1px solid #004d4d;
}


