body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
    color: saddlebrown;
    font-weight: 600;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: saddlebrown;
    font-size: 1em;
}

h2,
h1 {
    text-align: center;
    font-size: 1em;
}

nav {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 2em;
    background-color: antiquewhite;
    border-top-right-radius: 4em;
    border-top-left-radius: 4em;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;


}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    margin: 0;
    padding: 0;

}

nav li {
    list-style: none;
    background-color: rgb(247, 181, 95);
    width: 30%;
    margin: 0.5em 0.5em;
    border-radius: 3em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;


}




.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 60%;




}

li {
    font-size: 2em;
}

.logo>img {
    width: 50px;

}

main {

    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 244px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
    overflow: hidden;
    background-color: antiquewhite;
    margin-bottom: 0.5em;

}

.card>img {
    width: 100%;

}

.container {

    margin: 0.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.container h2 {
    margin: 0;
    font-size: 1em;

}

.cont-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    padding: 0.5em;
    width: 60%;
    margin: 0.5em;
    border-radius: 20px;
    background-color: rgb(247, 181, 95);
    border: 0;
}

aside {


    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.art-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    padding: 1.2em;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
    background-color: antiquewhite;
}

.art-container img {
    width: 100%;
}

@media screen and (min-width:577px) {

    ul li:nth-child(1) {
        order: 3;
    }

    ul li:nth-child(2) {
        order: 1
    }

    ul li:nth-child(3) {
        order: 2
    }

    ul li:nth-child(4) {
        order: 4
    }

    ul li:nth-child(5) {
        order: 5
    }

    nav li {
        list-style: none;
        background-color: rgb(247, 181, 95);

        margin: 0.5em 0.5em;
        border-radius: 3em;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
    }

    .logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
    }

    nav ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        height: 300px;
        margin: 0;
        padding: 0;

    }

    aside {


        display: flex;
        justify-content: center;
        flex-direction: column
    }

    article {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .card {
        width: 244px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 3em;
        border-top-right-radius: 3em;
        border-bottom-right-radius: 3em;
        border-bottom-left-radius: 3em;
        overflow: hidden;
        background-color: antiquewhite;
        margin: 0.5em;
    }
}

/* @media screen and (min-width:768px) {

    body {
        display: flex;
        flex-direction: row;
        margin: 0;

    }



    nav {
        display: flex;
        flex-direction: column;
        width: 30%;
        background-color: antiquewhite;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;




    }

    nav ul {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    nav li {
        list-style: none;
        background-color: rgb(247, 181, 95);
        width: 60%;
        margin: 0.5em 0.5em;
        border-radius: 3em;
        padding: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
    }

    .logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
    }


    ul li:nth-child(1) {
        order: 1;
    }

    ul li:nth-child(2) {
        order: 2
    }

    ul li:nth-child(3) {
        order: 3
    }

    ul li:nth-child(4) {
        order: 4
    }

    ul li:nth-child(5) {
        order: 5
    }

    article {
        overflow: hidden;
    }

    .card {
        width: 310px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 3em;
        border-top-right-radius: 3em;
        border-bottom-right-radius: 3em;
        border-bottom-left-radius: 3em;
        overflow: hidden;
        background-color: antiquewhite;
        margin: 0.5em;
    }


    article {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }


}  */